<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= article.title %>
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/header') %>

        <div class="container mt-5">
            <h1>
                <%= article.title %>
            </h1>

            <!-- Display Article Image -->
            <% if (article.image) { %>
                <div class="text-center mb-4">
                    <img src="<%= article.image %>" alt="Image for <%= article.title %>" class="img-fluid rounded">
                </div>
                <% } %>

                    <p><strong>Tác giả:</strong>
                        <%= article.author %>
                    </p>
                    <p><strong>Ngày đăng:</strong>
                        <%= article.createdAt.toDateString() %>
                    </p>
                    <hr>
                    <p>
                        <%= article.content %>
                    </p>
        </div>

        <%- include('../partials/footer') %>
</body>

</html>