<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách danh mục</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/header') %>

        <div class="container">
            <h1>Danh sách danh mục</h1>
            <a href="/categories/add" class="btn btn-success mb-3">Thêm danh mục mới</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên danh mục</th>
                        <th>Slug</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category=> { %>
                        <tr>
                            <td>
                                <%= category.name %>
                            </td>
                            <td>
                                <%= category.slug %>
                            </td>
                            <td>
                                <a href="/categories/edit/<%= category._id %>" class="btn btn-primary btn-sm">Sửa</a>
                                <form action="/categories/<%= category._id %>?_method=DELETE" method="POST"
                                    style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Xoá</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>


        <%- include('../partials/footer') %>
</body>

</html>